<IfModule mod_rewrite.c>
RewriteEngine on
ErrorDocument 404 http://localhost/Perpustakaan/app/admin/home.php?module=pages/views/v_404

RewriteRule ^dashboard$ home.php [L]
RewriteRule ^anggota$ home.php?module=pages/views/v_anggota [L]
RewriteRule ^penerbit$ home.php?module=pages/views/v_penerbit [L]
RewriteRule ^administrator$ home.php?module=pages/views/v_administrator [L]
RewriteRule ^data-buku$ home.php?module=pages/views/v_buku [L]
RewriteRule ^kategori-buku$ home.php?module=pages/views/v_kategori_buku [L]
RewriteRule ^lihat-pesan$ pages/views/v_isi_pesan.php [L]
RewriteRule ^profil-saya$ home.php?module=pages/views/v_profile_saya [L]
RewriteRule ^identitas-app$ home.php?module=pages/views/v_identitas_app [L]
RewriteRule ^laporan$ home.php?module=pages/views/v_laporan [L]
RewriteRule ^pesan$ home.php?module=pages/views/v_pesan [L]
#
RewriteRule ^data-peminjaman$ home.php?module=pages/views/v_peminjaman [L]

RewriteRule ^keluar$ logout.php [L]
</IfModule>